.wiki-home-sidebar {
	overflow: hidden;
	margin-top: 2em;
}

#wiki-bottom .wiki-home-sidebar {
	float: left;
	width: 48%;
	margin-right: 4%;
}
	#wiki-bottom .wiki-home-sidebar:last-child {
		margin-right: 0;
	}

/* WIDGETS */

/* WIDGETS */
.wiki-home li.odd,
.wiki-home li.even {
	padding: 10px 20px;
}

.wiki-home li.even {
	background: #eee;
}
