body.wiki div#subnav.item-list-tabs li {
	display: none;
}

.wiki-home-sidebar {
	overflow: hidden;
	margin-top: 2em;
}

#wiki-bottom .wiki-home-sidebar {
	float: left;
	width: 48%;
	margin-right: 4%;
}
	#wiki-bottom .wiki-home-sidebar:last-child {
		margin-right: 0;
	}

#wiki-header > div {
	float: left;
	width: 48%;
	margin-right: 4%;
	text-align: left;
}
	#wiki-header > div:last-child {
		margin-right: 0;
		text-align: right;
	}

#wiki-header {
	overflow: hidden;
}

.wiki-home .doc-search {
	float: left;
}

/* WIDGETS */
.wiki-home li.odd,
.wiki-home li.even {
	padding: 10px 20px;
}

.wiki-home li.even {
	background: #eee;
}

.wiki-home .wiki-home-sidebar ul {
	list-style-type: none;
	padding-left: 0
}
